/* -----------------------------------------------------
* VARIABLES
*/

// FONT
//
$font-stack: 'Roboto', Helvetica, sans-serif;
$font-size: 16px;
$font-thin: 100;
$font-regular: 300;
$font-bold: 500;

// COLORS
// 
$white: #f5f5f5;

$green-full: #00c853;
$green: #00e676;
$teal: #1de9b6;
$red: #ff1744;
$amber: #ffa000;
$cyan: #26c6da;
$blue: #00b0ff;
$blue-2: #0091ea;
$blue-grey: #607d8b;
$blue-grey-2: #455a64;
$blue-grey-4: #263238;
$blue-grey-light: #90a4ae;

// SHADOWS
// 
$slight-shadow: 0 0.125rem 0.125rem rgba(0,0,0,1);
$super-slight-shadow: 0 0.0825rem 0.0825rem rgba(0,0,0,0.75);